/* mediaqueries.css */

/* Media query for screens with a maximum width of 540px and a maximum height of 720px */
@media only screen and (max-width: 540px) and (max-height: 932px) {
    .flex {
        flex-direction: column;
        margin-left: 80px;
        margin-top: 20px;
        height: 100%;
    }

    .ml-10,
    .mr-10 {
        margin-left: 5px;
        margin-right: 5px;
    }

    .text-5xl {
        font-size: 2rem;
        margin-left: 80px;
    }

    .calculator-note {
        font-size: .8rem;
        width: 300px;
        margin-left: 80px;
    }

    .form-container {

        height: 250px;
        width: 18rem;
        margin-top: 60px;
        font-size: .8rem;
        margin-left: 10px;
    }

    .form-input {
        margin-bottom: 15px;
        height: 25px;
        width: 50px;
        margin-right: 10px;
    }

    .form-select {
        width: 100px;
    }

    .form-button {
        padding: 8px 16px;
        align-items: center;
    }
    
    .calorie-results {
        margin-top: 0px;
        font-size: .7rem;
        margin-left: 90px;
    }

    .form-label {
        margin-right: 5px;
    }

    .button-class {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center;
        margin-left: 
    }

    #heightFeet {
        width: 40px;
    }

    #activity {
        width: 150px;
    }
}
